@font-face {
    font-family: "Roboto";
    src: url(Polices/roboto/Roboto-Regular.ttf), url(Polices/roboto/Roboto-Medium.ttf), url(Polices/roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: "Shrikhand";
    src: url(Polices/shrikhand/Shrikhand-Regular.otf);
}

h1 {
    font-family: Shrikhand, Roboto, sans-serif;
}

body,
html {
    font-family: 'Roboto', sans-serif;
}