.plein:hover {
    animation: coeur_plein 200ms ease-in-out;
    display: inline-block;
    opacity: 1;
    background: $linear-gradient;
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

@keyframes coeur_plein {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}