.loader {
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-family: Shrikhand;
    font-size: 30px;
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: fixed;
    z-index: 3;
    animation: loading 300ms ease-in-out 3s forwards;
    &__loading {
        vertical-align: middle;
    }
}

.loader__loading--ustensils {
    animation: rotate 3s linear infinite;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}