.map {
    background-color: #DCDCDC;
    box-shadow: inset 0px 3px 3px 0px #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__search {
    font-size: 20px;
    width: 50%;
}