@mixin map {
    background-color: #DCDCDC;
    font-size: 15px;
    border: none;
    text-align: center;
}

@mixin exploration {
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
}

@mixin btn__exploration {
    background-image: $linear-gradient;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: inset 0px 0px 1px 0px #C0C0C0;
}