@mixin map {
    background-color: #DCDCDC;
    font-size: 15px;
    border: none;
    text-align: center;
}

@mixin exploration {
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
}

@mixin btn__exploration {
    background-color: $linear-gradient;
}