@mixin map {
    background-color: #DCDCDC;
    font-size: 15px;
    border: none;
    text-align: center;
}

@mixin exploration {
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
}

@mixin btn__exploration {
    background-image: $linear-gradient;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    padding: 12px 20px;
    box-shadow: inset 0px 0px 1px 0px #C0C0C0;
    border: none;
}

@mixin fonctionnement {
    display: flex;
    flex-direction: column;
    &__niveau li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        padding: 5px;
        margin: 20px;
        border-radius: 20px;
        box-shadow: 1px 2px 8px 2px #C0C0C0;
        background-color: #F5F5F5;
    }
}

@mixin fonctionnement__niveau {
    background-color: $color-primary;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-left: -20px;
}