.fonctionnement {
    @include fonctionnement;
    h2 {
        align-items: flex-start;
    }
    ul {
        @include tablet {
            display: flex;
            justify-content: space-around;
        }
        padding: 0;
        li {
            @include shadow-radius;
        }
    }
    p {
        margin-left: 20px;
        margin-right: 50px;
    }
    .fas {
        color: grey;
    }
}