.fonctionnement {
    @include fonctionnement;
    h2 {
        align-items: flex-start;
    }
    ul {
        padding: 0;
    }
    p {
        margin-left: 20px;
        margin-right: 50px;
    }
    .fas {
        color: grey;
    }
}