footer {
    background-color: rgb(65, 64, 64);
    color: white;
    padding: 20px;
    h2 {
        font-size: 20px;
    }
    ul {
        padding: 5px 0 5px 0;
        li {
            padding: 5px 0 5px 0;
            a {
                color: white;
            }
        }
    }
    .fa-hands-helping {
        margin-right: 10px;
    }
    .fa-utensils {
        margin-right: 15px;
    }
}