footer {
    background-color: rgb(65, 64, 64);
    color: white;
    padding: 20px;
    h2 {
        font-family: "Shrikhand", "sans-serif";
        font-size: 20px;
    }
    ul {
        font-family: "Roboto", "sans-serif";
        padding: 0;
    }
}