.image__header img {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.menu {
    @include menu;
}

.menu__title {
    @include menu__title;
}

.menu__full {
    @include tablet {
        display: flex;
        justify-content: space-around;
    }
}

.starter__title,
.maindish__title,
.dessert__title {
    &--line {
        width: 40px;
        border-bottom: 2px solid $color-tertiary;
        margin-left: 20px;
    }
}

.dish {
    @include dish;
    & h4 {
        margin: 0;
        padding-top: 5px;
    }
    &__garnishandprice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--garnish {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.check {
    @include check;
}