.restaurant {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.fiche {
    @include fiche;
}

.fiche img {
    @include fiche__img;
}

.fiche figure {
    @include figure;
}

.fiche figcaption {
    @include figcaption;
}