.restaurant {
    background: #F5F5F5;
    padding: 20px;
    h2 {
        width: 100%;
    }
    @include tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.fiche {
    @include fiche;
    @include tablet {
        width: 30%;
    }
    @include desktop {
        width: 45%;
    }
}

.fiche img {
    @include fiche__img;
}

.fiche figure {
    @include figure;
}

.fiche figcaption {
    @include figcaption;
}